.Button {
    font-size: 0.8rem;
    align-self: center;
    border-radius: 100px;
    border-color: transparent;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
  }
  
  .Button:hover {
    opacity: 0.8;
    border-color: transparent;
    cursor: pointer;
  }
  
  .Button:hover:active {
    background-color: #ee4758 !important;
  }
  
  .Button:active {
    background-color: #ee4758 !important;
  }
  
  .Button:focus {
    background-color: #ee4758;
  }
  
  .Wide {
    padding: 10px 50px;
    width: 50%;
    margin-left: 25%;
  }
  
  .Blue,
  .BlueOutline:hover,
  .Bright:hover {
    background-color: #ee4758;
    color: #d3d3d3;
  }
  
  .BlueOutline,
  .Blue:hover {
    background-color: #d3d3d3;
    color: #ee4758;
  }
  
  .Black,
  .BlackOutline:hover {
    background-color: #ee4758;
    color: aliceblue;
  }
  
  .Black:hover,
  .BlackOutline {
    background-color: #ee4758;  /*ONE*/
    color: #f9fafc;
  }
  
  .Bright {
    background-color: #545454;
    color: #f9fafc;
  }